
.banner-image {
  background-image: linear-gradient(rgba(223, 182, 69, 0.356), rgba(238, 167, 167, 0.486)), url("../../public/images/banner.png");
  height: 50%;
  background-position: center;
  background-repeat: repeat;
  position: relative;
  padding: 70px;
}

.banner-text {
  font-family: Brush Script MT;
  color: rgb(82, 55, 14);
  font-size: 30px;
}