.test {
    text-align: left;
    font-family:cursive;
    display: flex;
  }

  .test-con{
    flex: 50%;
  }

  .test-p{
    font-family: fantasy;
  }

.test button{
  
  font-family:cursive;
}

.test2 {

  font-family:cursive;
  font-size: 100px;

}

